.btn {
  display: inline-block;

  padding: 17px 68px;

  cursor: pointer;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: $dark-grey;
  border: none;
  background-color: $pink;

  @include text(14, 24, 700);
  @include active;
}
